
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#box{
    height: 100px;
    width: 100%;
    border: 1px solid white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#red{
    height: 10%;
    width: 100%;
    border-radius: 50px;
    background-color: red;
    transition: 1s;
    transform: translateX(-100%);
}

#red2{
    height: 10%;
    border-radius: 50px;
    transition: 1s;
    width: 100%;
    background-color: blue;
    transform: translatex(200%);
}